---
layout: internal
---

{% assign sections = site.data.sitemap[5].children %}
{% assign news = site.data.articles %}

<div class="container">
	<div class="row">
		<div class="col-md-7">

			<div class="m-b-lg">
				<h1 class="h2">{{ page.title }}</h1>
				<p><date>12 AUGUST 2015</date></p>
				<br>
				<p class="image-right"><img width="100%" src="http://placehold.it/400x280"></p>
				{{ content }}
			</div>

		</div>
		<div class="col-md-5 pad-left-xl">
			<h2 class="m-b-md">Other News</h2>

			{% for item in news | limit: 3 %}
				{% include components/card_slim.html class="card-list-item" %}
			{% endfor %}

		</div>
	</div>
</div>