{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 19.12.18
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero_images = site.data.carousel_slides %}

<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero" data-pause="8000">
        {% for hero in hero_images %}

            <!-- HERO ITEM -->
            <div class="lv-hero-item">
                <img width="100%" src="{{ hero.image | prepend: site.assets }}" alt="{{ hero.title }}">

                <!-- HERO ITEM CAPTION -->
                <div class="lv-hero-item-caption-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-xl-6">

                                <a href="{{ hero.url }}">
                                    <div class="lv-hero-item-caption animated fadeInLeft">

                                        <!-- HEADER -->
                                        <h1>{{ hero.title }}</h1>
                                        <h2>{{ hero.subheader }}</h2>

                                        <!-- BODY -->
                                        {% if hero.body %}
                                            <p>{{ hero.body }}</p>
                                        {% endif %}

                                        <!-- ARROW -->
                                        <span class="btn"><i class="fa fa-angle-right"></i></span>

                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endfor %}
    </div> <!-- .lv-hero -->

    <!-- CAROUSEL CONTROLS -->
    <div class="lv-hero-carousel-controls">
        <span href="#" class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
        <span href="#" class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
    </div>
</div>