<div class="logged-in-bar FixedTop">
    <div class="container">

        <p class="pull-left"><i class="fa fa-user"></i>&nbsp; You are currently logged in:<br class="hidden-md-up"> <strong>Name Here</strong></p>

        <div class="pull-right">
            <a class="btn btn-members-area hidden-sm-down" href="#">Go to Members Area &nbsp;<i class="fa fa-angle-right"></i></a>
            <a class="btn btn-log-out" href="#">Log Out &nbsp;<i class="fa fa-close"></i></a>
        </div>

    </div>
</div>