<!--  CLUBSAFE CARD -->
<div class="card color-card card-inverse card-muted">
	<div class="card-block clearfix">
		<div class="media">
			<a class="media-left" href="#">
				<img class="media-object" src="/img/content/clubsafe-logo.png" alt="ClubSafe">
			</a>
			<div class="media-body">
				<!-- TRUNCATE (105 max chars) -->
				<p class="card-text"><span class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</span> <a href="#" class="btn btn-primary pull-right"><i class="fa fa-angle-right"></i></a></p>
			</div>
		</div>
	</div>
</div>

<!-- FIND A CLUB -->
<div class="card color-card card-inverse card-quaternary">
	<div class="card-block clearfix">
		<h3 class="card-title"><i class="fa fa-search"></i>&nbsp; Find a club</h3>

		<form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Suburb, postcode or club name">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i></button>
				</span>
			</div>
		</form>

	</div>
</div>

<!--  ONLINE PAYMENTS -->
<div class="card color-card card-inverse card-tertiary">
	<div class="card-block clearfix">
		<h3 class="card-title"><i class="fa fa-credit-card"></i>&nbsp; Online Payments</h3>
		<p class="card-text"><span class="text">You can make payments to Clubs SA using our online payment system.&nbsp;</span> <a href="#" class="btn btn-primary pull-right"><i class="fa fa-angle-right"></i></a></p>
	</div>
</div>

<!-- MEMBER LOGIN -->
{% include components/card_color_member_login.html %}