{% assign settings = site.data.settings %}

<section class="contact-info">

    <span class="social-media">
        <a class="facebook" target="_blank" href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a>
        <a class="twitter" target="_blank" href="{{ settings.facebook }}"><i class="fa fa-twitter"></i></a>
    </span>

    <form class="search-form">
        <input class="form-control" type="text" placeholder="SEARCH">
    </form>

    <div class="clearfix"></div>

    <h4>{{ settings.company }}</h4>
    <p>Phone {{ settings.phone }}<br>
       Fax {{ settings.fax }}<br>
       Email <a href="mailto:{{ settings.email }}">{{ settings.email }}</a></p>

    <h4>Office</h4>
    <p>{{ settings.offices[0].address }}<br>
    <a href="{{ settings.google_map }}">View Map <i class="fa fa-angle-right"></i></a></p>

</section>