<!-- MEMBER LOGIN -->
<section class="member-login">
    <div class="container">

        <!-- TEXT -->
        <div class="text">
            <i class="fa fa-users"></i>&nbsp; Member log in
        </div>

        <!-- MEMBER LOGIN FORM -->
        <form class="member-login-form" action="/members/" method="post" name="Member Login">

            <!-- USER ID -->
            <input class="form-control" type="text" placeholder="User ID">

            <!-- FLEX CONTAINER -->
            <div class="d-flex">

                <!-- PASSWORD -->
                <input class="form-control" type="password" placeholder="Password">

                <!-- SUBMIT -->
                <button type="submit">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>

        </form>
    </div>
</section>