<section class="partners-section">
	<div class="container">
		<h2>Partners</h2>

		<div class="container">

			<div class="row">
				<div class="col-md-4 primary">

					<ul class="block-grid-xs-2">
						<li><img width="100%" src="http://placehold.it/130x104"></li>
						<li><img width="100%" src="http://placehold.it/130x104"></li>
					</ul>

				</div>
				<div class="col-md-4 secondary">

					<ul class="block-grid-xs-3 p-x last-1">
						<li><img width="100%" src="http://placehold.it/130x104"></li>
						<li><img width="100%" src="http://placehold.it/130x104"></li>
						<li><img width="100%" src="http://placehold.it/130x104"></li>
					</ul>

				</div>
				<div class="col-md-4 secondary">

					<ul class="block-grid-xs-3 p-x last-2">
						<li><img width="100%" src="http://placehold.it/130x104"></li>
						<li><img width="100%" src="http://placehold.it/130x104"></li>
						<li><img width="100%" src="http://placehold.it/130x104"></li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</section>