<script>
	/*
	    Responsive Helper - Last updated: 29.10.15

	    - Usage -

	    Reference JS file before closing </body>.
	    Wrap all contents into <div class="lv-super"></div>
	*/
	;(function($) {

	    //==================================================
	    // Variables
	    //==================================================

	    var xs  = 0;
	    var sm  = {{ site.data.settings.breakpoints.sm }};
	    var md  = {{ site.data.settings.breakpoints.md }};
	    var lg  = {{ site.data.settings.breakpoints.lg }};
	    var xl  = {{ site.data.settings.breakpoints.xl }};

	    //==================================================
	    // Responsive Helper
	    //==================================================

        function responsiveHelper() {
            var body = $('body');

            if ($('.lv-screen-data').length != 1) {
                body.append('<div class="lv-screen-data"></div>');
            }
            var screenWidth = $(window).width();
            var screenHeight = $(window).height();
            var device;

            if (screenWidth < sm) device = "xs";
            if (screenWidth >= sm && screenWidth < md) device = "sm";
            if (screenWidth >= md && screenWidth < lg) device = "md";
            if (screenWidth >= lg && screenWidth < xl) device = "lg";
            if (screenWidth >= xl) device = "xl";

            $('.lv-screen-data').html(screenWidth+" x "+screenHeight+"<br>"+device)
                .css({
                    'position': 'fixed',
                    'top': 0,
                    'padding': '10px 20px',
                    'background': 'rgba(0,0,0,0.5)',
                    'font-family': 'Helvetica Neue',
                    'font-size': '14px',
                    'color': 'white',
                    'z-index': 2147483646,
                })
                .click(function(){
                    body.toggleClass('developer');
                });
        }

        // Launch it
        responsiveHelper();

        //==================================================
        // Resize
        //==================================================

        $(window).resize(function(){
            responsiveHelper();
        });

	})(jQuery);
</script>