/*
    FOOTER.CSS

    - Last updated: 21.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Global Footer
//-----------------------------------------------------------------

.global-footer {
	h1, h2, h3, h4, h5, h6 {
		color: white;
	}
}

//-----------------------------------------------------------------
// Footer Body
//-----------------------------------------------------------------

.global-footer-body {
	padding: rem-calc(40 0 50 0);
	background: $primary-color;

	@include media-breakpoint-up(md) {
	    padding: rem-calc(60 0 50 0);
	}
}

//=========================================
// Contact Box
//=========================================

.contact-info {
	position: relative;
	color: white;

	@include media-breakpoint-up(md) {
	    padding: rem-calc(30 40);
	    background: #235373;
	}

	a {
		color: white;

		&:hover {
			color: #eee;
		}
	}
}

//=========================================
// Contact Box
//=========================================

.global-footer-body .contact-info .social-media {
	position: absolute;
	top: 0;
	right: 0;

	@include media-breakpoint-up(md) {
		top: rem-calc(30);
	    right: rem-calc(40);
	}

	a {
		margin: rem-calc(0 0 5 5);

		// SMALL ONLY
		@include media-breakpoint-down(md) {
		    display: block;
		    margin: 10px;
		}
	}
}

//-----------------------------------------------------------------
// Footer Bottom
//-----------------------------------------------------------------

.global-footer-bottom {
	overflow: hidden; // force
	background: #192F41;
	height: rem-calc(44);
	line-height: rem-calc(44);
	text-transform: uppercase;

	a {
		font-size: rem-calc(11);
		color: rgba(white, 0.5);
	}

	img {
		position: relative;
		top: rem-calc(-2);
		margin-left: rem-calc(5);
	}
}

//=========================================
//
//=========================================