/*
    GLOBAL.CSS

    - Last updated: 22.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Page
//-----------------------------------------------------------------

.lv-page {
	padding-top: $header-height-sm;

	@include media-breakpoint-up(md) {
	    padding-top: $header-height-md;
	}

	@include media-breakpoint-up(lg) {
	    padding-top: $header-height-lg;
	}

	@include media-breakpoint-up(xl) {
		padding-top: $header-height-lg + $lv-nav-height;
	}
}

//-----------------------------------------------------------------
// Client Area Bar (When logged in)
//-----------------------------------------------------------------

.logged-in-bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #959697;
	overflow: hidden;
	z-index: 99999;

	p {
		margin: rem-calc(0 20 0 0);
		font-size: rem-calc(13);
		color: white;

		.fa {
			font-size: rem-calc(20);
		}
	}

	.btn {
		position: relative;
		top: -2px;
		font-size: rem-calc(12);
		font-weight: bold;
		background: #797779;
		text-transform: uppercase;
		color: white;
		padding: rem-calc(8 15);
		margin: 0;

		&:hover {
			@include media-breakpoint-up(xl) {
			    background: darken(#797779, 10%);
			}
		}

		.fa {
			font-size: inherit;
			font-weight: bold;
		}
	}

	.btn-members-area {
		margin-right: rem-calc(20);
	}
}

//-----------------------------------------------------------------
// Responsive Typography
//-----------------------------------------------------------------

html {
	@include media-breakpoint-up(xs) { font-size: $font-size-xs; }
	@include media-breakpoint-up(sm) { font-size: $font-size-sm; }
	@include media-breakpoint-up(md) { font-size: $font-size-md; }
	@include media-breakpoint-up(lg) { font-size: $font-size-lg; }
}

//-----------------------------------------------------------------
// Tweaked padding formMobile only
//-----------------------------------------------------------------

.container {
	@include media-breakpoint-down(sm) {
	    padding-left: rem-calc(20);
	    padding-right: rem-calc(20);
	}
}

//-----------------------------------------------------------------
// Font Smoothing
//-----------------------------------------------------------------

// body {
//      -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//              font-smoothing: antialised;
// }

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================