---
layout: master
---

<!-- BREADCRUMBS -->
<nav class="breadcrumbs {% unless page.breadcrumbs %} invisible {% endunless %}">
    <div class="container">
        {% include snippets/breadcrumb.html %}
    </div>
</nav>

<!-- CONTENT -->
<section class="stage m-b-lg">

	<div class="container">
		<header class="stage-header">
			{% if page.title_override %}
				<h2 class="h1">{{ page.title_override }}</h2>
			{% else %}
				<h1>{{ page.title }}</h1>
			{% endif %}
		</header>
	</div>

    {{ content }}

</section>