/*
    BUTTONS.CSS

    - Last updated: 22.10.2015
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.btn {
	padding: rem-calc(3 10 3 13); // precise alignment

	.fa {
		font-size: rem-calc(24);
		color: rgba(white, 0.8);
	}
}

//=========================================
// Text Buttons
//=========================================

.btn-text {
	padding: rem-calc(10 13);

	.fa {
		position: relative;
		top: 4px;
		right: -5px;
		line-height: 0;
	}
}