/*
    CARDS.CSS

    - Last updated: 23.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Cards
//-----------------------------------------------------------------

.card img {
	border-radius: 0 !important; // Bootstrap will replace this later
}

//-----------------------------------------------------------------
// When wrapping card in anchor
//-----------------------------------------------------------------

.card-link {
	p {
		color: $body-color;
	}

	.card-title {
		@include transition();
	}

	&:hover .card-title {
		@include media-breakpoint-up(xl) {
		    color: lighten($headings-color, 20%);
		}
	}
}

//-----------------------------------------------------------------
// Card Extensions
//-----------------------------------------------------------------

.card {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;

    .card-block {
    	overflow: hidden;

    	@include media-breakpoint-up(md) {
    		// min-height: rem-calc(110);
    	}
    	@include media-breakpoint-up(lg) {
    		// min-height: rem-calc(250);
    	}
    }

    .card-text {
    	min-height: rem-calc(90);
    }

    .btn {
		position: absolute;
		bottom: rem-calc(10);
		right: rem-calc(10);
    }
}

//-----------------------------------------------------------------
// Card Minimal
//-----------------------------------------------------------------

.card-minimal .card-title,
.card-minimal .card-text,
.card-slim .card-title {
	padding-right: rem-calc(30);
	min-height: 0;
}

//-----------------------------------------------------------------
// Bio Card
//-----------------------------------------------------------------

.card-bio {
	@include media-breakpoint-up(lg) {
	    padding: rem-calc(10);
	}
}

//-----------------------------------------------------------------
// Cards Collapse on SM only
//-----------------------------------------------------------------

.cards-collapse-xs {
	@include media-breakpoint-down(sm) {

		li {
			padding: 0;
		}

		li:first-child .card {
			border-top: 0;
		}

		.card {
			display: table;
			margin: rem-calc(-1px -10);
			padding: rem-calc(30 25);
			border-width: 1px;
			border-left: 0;
			border-right: 0;
			border-bottom: 0;

			.btn {
				width: 100%;
				position: static; // override
			}
		}

		.card-head,
		.card-block {
			display: table-cell;
			vertical-align: top;
		}

		.card-head {
			width: rem-calc(110);
		}

		.card-block {
			padding: rem-calc(0 20);
		}

		.card-text {
			min-height: 0;
		}
	}
}

//-----------------------------------------------------------------
// Card Slim
//-----------------------------------------------------------------

.card-slim {
	overflow: visible;
	margin-bottom: rem-calc(20);

	@include media-breakpoint-up(xl) {
	    margin-bottom: rem-calc(40);
	}

	.media {
		min-height: rem-calc(125);

		@include media-breakpoint-up(md) {
		    min-height: rem-calc(100);
		}
	}

	date {
		display: inline-block;
		margin-bottom: rem-calc(5);
	}

	.media-body {
		padding: rem-calc(15 8);
	}

	img {
		width: rem-calc(110);

		@include media-breakpoint-up(xl) {
		    width: rem-calc(154);
		}
	}

	.btn {
		position: absolute;
		bottom: rem-calc(10);
		right: rem-calc(10);

	}
}

//-----------------------------------------------------------------
// Card List Item
//-----------------------------------------------------------------

.card-list-item {
	padding: rem-calc(25 0);
	border-left: 0;
	border-right: 0;
	margin: -1px 0 0 0;

	.media-body {
		padding-top: 0;
	}
}

//-----------------------------------------------------------------
// Colors
//-----------------------------------------------------------------

.color-card {
	border: 0;
	margin-bottom: rem-calc(20);

	@include media-breakpoint-down(sm) {
		margin: rem-calc(0 -25);
		padding: rem-calc(5 5 10 5);
	}

	.card-block {
		min-height: 0;
	}

	.card-text {
		min-height: 0;
	}

	.text {
		padding-right: rem-calc(20);
	}

	input {
		background: rgba(white, 0.8);
	}

	.btn {
		position: static;
		border: 0;
		color: white;
	}

	.input-group-btn {
		padding-left: rem-calc(10);
	}
}

//=========================================
// Membership Login
//=========================================

.card-senary .col-xl-6:first-of-type {
	@include media-breakpoint-up(xl) {
	    padding-right: 0;
	}
}

//=========================================
//
//=========================================

.card-quaternary {
	background: $quaternary-color;

	input {
		border-color: darken($quaternary-color, 14%) !important;
	}

	.btn {
		background: darken($quaternary-color, 10%) !important;

		&:hover {
			background: darken($quaternary-color, 15%) !important;
		}
	}
}
//=========================================

.card-tertiary {
	background: $tertiary-color;

	input {
		border-color: darken($tertiary-color, 14%) !important;
	}

	.btn {
		background: darken($tertiary-color, 10%) !important;

		&:hover {
			background: darken($tertiary-color, 15%) !important;
		}
	}
}
//=========================================

.card-senary {
	background: $senary-color;

	input {
		border-color: darken($senary-color, 14%) !important;
	}

	.btn {
		background: darken($senary-color, 10%) !important;

		&:hover {
			background: darken($senary-color, 15%) !important;
		}
	}
}