/*
    HERO.CSS

    - Last updated: 06.05.18, 29.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$primary-color: #6aaef0;

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

.lv-hero-item-caption-wrapper {
	background: $primary-color;

	@include media-breakpoint-up(sm) {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    background: none;
	}
}

//-----------------------------------------------------------------
// HERO CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption  {
	display: block;
	min-height: rem-calc(85);
	padding: rem-calc(20 0);
	color: white;

	@include media-breakpoint-up(sm) {
	    padding: 1.275rem 3rem 1.275rem 1.275rem; // Jono override
	    margin: rem-calc(170 0 30 0);
	    background: $primary-color;
	}

	@include media-breakpoint-up(md) {
	    margin: rem-calc(50 0);
	}
}

//-----------------------------------------------------------------
// HERO CAPTION COMPONENTS
//-----------------------------------------------------------------

.lv-hero-item-caption {
	h1, h2, h3, h4, h5, h6 {
		font-size: rem-calc(16); // Jono override
		color: white;

		@include media-breakpoint-down(sm) {
		    margin-bottom: 0.365rem; // Jono override
		}

		@include media-breakpoint-up(lg) {
		    font-size: rem-calc(23);
		}
	}

	p {
		margin-bottom: 0;
	}

	.btn { // arrow button
		position: absolute;
		top: auto; // Jono override
		right: 0;
		bottom: -0.5rem; // Jono override
		color: rgba(white, 0.5);
		font-size: 2.125rem; // Jono override

		@include media-breakpoint-down(xs) {
		    padding: rem-calc(15 0);
		}

		@include media-breakpoint-up(md) {
			right: rem-calc(5);
		    font-size: rem-calc(50);
		}

		&:after {
			display: none; // override btn
		}
	}

	&:hover .btn {
		@include media-breakpoint-up(xl) {
		    color: white;
		}
	}
}

//-----------------------------------------------------------------
// Hero Controls
//-----------------------------------------------------------------

.lv-hero-carousel-controls {
	color: white;

	@include media-breakpoint-down(sm) {
	    top: 25%;
	}

	.lv-hero-carousel-prev-btn,
	.lv-hero-carousel-next-btn {
		@include transition();
		font-size: rem-calc(45);
		background: rgba(0,0,0, 0.5);
		border-radius: 100%;
		margin: rem-calc(0 40); // revised

		@include media-breakpoint-down(sm) {
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		    margin: 0; // revised
		    font-size: rem-calc(30);
		}

		&:hover {
			@include media-breakpoint-up(xl) {
			    background: rgba(0,0,0, 0.6);
			}
		}
	}

	.lv-hero-carousel-prev-btn i {
		text-indent: -10%;
	}
	.lv-hero-carousel-next-btn i {
		text-indent: 10%;
	}
}

//=========================================
//
//=========================================