/*
    SOCIAL-MEDIA.CSS

    - Last updated: 07.01.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Media
//-----------------------------------------------------------------

.social-media {
	a {
		display: inline-block;
		width: rem-calc(48);
		height: rem-calc(48);
		line-height: rem-calc(48);
		background: #E06337;
		color: white;
		text-align: center;
		font-size: rem-calc(25);

		&:hover {
			@include media-breakpoint-up(xl) {
			    background: lighten(#E06337, 10%);
			}
		}
	}

	.twitter {
		background: $tertiary-color;

		&:hover {
			@include media-breakpoint-up(xl) {
			    background: lighten($tertiary-color, 10%);
			}
		}
	}
}

.off-canvas-menu .social-media {
	float: left;

	a {
		background: white;
		color: #375A99 !important;
	}

	.twitter {
		color: #07ACEE !important;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

//=========================================
//
//=========================================