/*
    TYPE.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Type
//-----------------------------------------------------------------

a {
	@include transition();
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}

.stage h1 {
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: rem-calc(40);
	padding-bottom: rem-calc(30);
}

//=========================================
//
//=========================================