/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.primary-color {
    color: $primary-color;
}

.hero-spacer {
	margin-bottom: rem-calc(40);

	@include media-breakpoint-up(xl) {
	    margin-bottom: rem-calc(75);
	}
}

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

// Used on sidebars
.pad-left-xl {
	@include media-breakpoint-up(xl) {
	    padding-left: rem-calc(65);
	}
}

// Used on homepage only
.pad-right-xl {
	@include media-breakpoint-up(xl) {
	    padding-right: rem-calc(65);
	}
}

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.club-table {
	border-bottom: 1px solid #E0E0E2;

	a {
		color: $senary-color;

		&:hover {
			color: darken($senary-color, 10%); // redundant after type?
		}
	}
}

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.inline {
	display: inline !important;
}

.table thead {
	background: #E9E9EA;
	color: darken($body-color, 20%);
}

//=========================================
// Partners
//=========================================

.partners .secondary ul {

	li {
		// SMALL ONLY
		@include media-breakpoint-down(md) {
			padding: 5px;
		}
	}

	@include media-breakpoint-up(md) {
	    padding-top: rem-calc(30);
	}

	@include media-breakpoint-up(xl) {
	    padding-top: rem-calc(35);
	}
}

// .partners .secondary {
// 	// SMALL ONLY
// 	@include media-breakpoint-down(md) {
// 	    padding-left: 0;
// 	    padding-right: 0;
// 	}
// }