/*
    THEMES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

.global-navigation .theme-1 {
	.top-parent-anchor {
		background: $secondary-color;

		&:hover {
			background: lighten($secondary-color, 10%);
		}
	}

	.dropdown a:hover {
		background: darken($secondary-color, 5%);
	}

	&.has-dropdown:hover > .top-parent-anchor,
	.dropdown {
		background: lighten($secondary-color, 10%);
	}
}

//=========================================
// Theme 2
//=========================================

.theme-2 .global-navigation {
	border-color: $tertiary-color;
}

.global-navigation .theme-2 {
	.top-parent-anchor {
		background: $tertiary-color;

		&:hover {
			background: lighten($tertiary-color, 10%);
		}
	}

	.dropdown a:hover {
		background: darken($tertiary-color, 5%);
	}

	&.has-dropdown:hover > .top-parent-anchor,
	.dropdown {
		background: lighten($tertiary-color, 10%);
	}
}

//=========================================
// Theme 3
//=========================================

.theme-3 .global-navigation {
	border-color: $quaternary-color;
}

.global-navigation .theme-3 {
	.top-parent-anchor {
		background: $quaternary-color;

		&:hover {
			background: lighten($quaternary-color, 10%);
		}
	}

	.dropdown a:hover {
		background: darken($quaternary-color, 5%);
	}

	&.has-dropdown:hover > .top-parent-anchor,
	.dropdown {
		background: lighten($quaternary-color, 10%);
	}
}

//=========================================
// Theme 4
//=========================================

.theme-4 .global-navigation {
	border-color: $quinary-color;
}

.global-navigation .theme-4 {
	.top-parent-anchor {
		background: $quinary-color;

		&:hover {
			background: lighten($quinary-color, 10%);
		}
	}

	.dropdown a:hover {
		background: darken($quinary-color, 5%);
	}

	&.has-dropdown:hover > .top-parent-anchor,
	.dropdown {
		background: lighten($quinary-color, 10%);
	}
}

//=========================================
// Theme 5
//=========================================

.theme-5 .global-navigation {
	border-color: $senary-color;
}

.global-navigation .theme-5 {
	.top-parent-anchor {
		background: $senary-color;

		&:hover {
			background: lighten($senary-color, 10%);
		}
	}

	.dropdown a:hover {
		background: darken($senary-color, 5%);
	}

	&.has-dropdown:hover > .top-parent-anchor,
	.dropdown {
		background: lighten($senary-color, 10%);
	}
}

//=========================================
// Theme 6
//=========================================

.theme-6 .global-navigation {
	border-color: $septenary-color;
}

.global-navigation .theme-6 {
	.top-parent-anchor {
		background: $septenary-color;

		&:hover {
			background: lighten($septenary-color, 10%);
		}
	}

	.dropdown a:hover {
		background: darken($septenary-color, 5%);
	}

	&.has-dropdown:hover > .top-parent-anchor,
	.dropdown {
		background: lighten($septenary-color, 10%);
	}
}

//=========================================
//
//=========================================